<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="{:url('check')}" method="post">
        <h3>用户登陆界面</h3>
        <p>
            User:
            <input type="text" name="username">
        </p>
        <p>
            Pass:
            <input type="text" name="password">
        </p>
        <p>
            <input type="submit" value = "登陆">
            <input type="reset" value = "注册">
        </p>
    </form>
</body>
</html>