<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="__STATIC__/bootstrap.css">
    
</head>
<body>
    <div class="container">

            <!-- {php}var_dump($data);{/php} -->

        <div class="panel panel-primary">
            <div class="panel-heading">
                <button class="btn btn-success">用户展示页面</button>
                <button class="btn btn-danger"> <a href="/user/create">添加用户</a> </button>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-hover">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Sex</th>
                    <th>Address</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>AJAX Delete</th>
                    {volist name = "data" id = "value"}
                    <tr>
                        <td>{$value.id}</td>
                        <td>{$value.name}</td>
                        <td>{$value.sex}</td>
                        <td>{$value.address}</td>
                        <td><a href="/user/{$value.id}/edit">修改</a></td>
                        <td>
                            <form action="/user/{$value.id}" method="post">
                                <input type="hidden" name="_method" value="delete">
                                <button class="btn btn-danger">删除</button>
                            </form>
                        </td>
                        <td>
                            <button class="btn btn-danger" onclick="del(this,{$value.id})">AJAX DELETE</button>
                        </td>
                    </tr>
                    {/volist}
                </table>
            </div>
        </div>
    </div>

    <script src="__STATIC__/popper.js"></script>
    <script src="__STATIC__/bootstrap.js"></script>
    <script src="__STATIC__/jquery-3.3.1.js"></script>
    <script>
        function del(obj,id){
            // 发送sql语句
            $.post('{:url("ajax_del")}',{id:id},function(data){
                // 判断是否成功
                if(data.status == 200){
                    // alert(data.info);
                    $(obj).parent().parent().remove();
                }else{
                    alert(data.info);
                }
            });
           
        }
    </script>
</body>
</html>